﻿@model AFR_Participants.Models.RiderViewModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent">
    @Html.ActionLink("Rider List", "Index", "Home")

    <h2>Add Rider</h2>

    @using (Html.BeginForm("AddRider", "Home", FormMethod.Post))
    {
        @Html.LabelFor(m => m.BibNumber, "BibNumber:")

        @Html.TextBoxFor(m => m.BibNumber)

        @Html.LabelFor(m => m.FirstName, "FirstName:")

        @Html.TextBoxFor(m => m.FirstName)

        @Html.LabelFor(m => m.LastName, "LastName:")

        @Html.TextBoxFor(m => m.LastName)

        <button type="submit">Add Rider</button>
    }
</asp:Content>