﻿@model AFR_Participants.Models.RiderWinnerViewModel
@{
    ViewBag.Title = "Home Page";
}

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent">
    @Html.ActionLink("Add Rider", "AddRider", "Home")

    <h2>Participant List</h2>
    <form action="" method="post">
        <input type="submit" name="command" value="Get Next Winner" />
        <input type="submit" name="command" value="Clear Rider Won List" />
    </form>
    <br/>
    <p>
        Next winner: @String.Format("{0} - {1} {2}", Model.NextWinner.BibNumber, Model.NextWinner.FirstName, Model.NextWinner.LastName)
    </p>
    <table border="1" cellpadding="4">
        <tr>
            <th>
                Bib Number
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Won Prize
            </th>
        </tr>
        @foreach (var item in Model.Participants)
        {
            <tr>
                <td>
                    @Html.Encode(item.BibNumber)
                </td>
                <td>
                    @Html.Encode(item.FirstName)
                </td>
                <td>
                    @Html.Encode(item.LastName)
                </td>
                <td>
                    @Html.Encode(item.WonPrize)
                </td>
            </tr>
        }
    </table>
</asp:Content> 